<!DOCTYPE html>

<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Styles -->
        <link href="/static/styles.css" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

        <!-- Scripts -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

        <title>f l a c k</title>
    </head>

    <body style="text-align: center">

        <header class="movingintro1">
            <div>
                <h1> w h a t &nbsp;t h e &nbsp;f l a c k </h1>
            </div>
        </header>

        <br>
        <!-- Chat -->
        <div class="container">
            <div class="row">
                <div class="col-sm-5">
                    <h3>Channels</h3>
                    <ul id="channel-list" class="list-group">
                    </ul>
                    <form id="channel-form" class="mt-3 mb-3">
                        <div class="input-group">
                            <input type="text" id="channel-name" class="form-control" placeholder="Enter channel name...">
                            <div class="input-group-append">
                                <button id="add-channel" class="btn btn-primary">Add</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-1" id="dezeniet">
                    <br>
                </div>
                <div class="col-sm-6">
                    <h3 id="channel-label">Messages</h3>
                    <ul id="alert-list" class="list-group"></ul>
                    <ul id="message-list" class="list-group"></ul>
                    <form id="message-form" class="mt-3 mb-3">
                        <div class="input-group">
                            <input type="text" id="message-text" class="form-control" placeholder="Enter a message..." autofocus>
                            <div class="input-group-append">
                                <button id="message-send" class="btn btn-primary">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog" data-backdrop="static" data-keyboard="false" href="#">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <header class="movingintro1">
                        <div>
                            <h1> w h a t &nbsp;t h e &nbsp;f l a c k </h1>
                        </div>
                    </header>
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">l o g &nbsp;i n &nbsp;t o &nbsp;f l a c k</h4>
                        </div>
                        <div class="modal-body">
                            <form id="username-form">
                                <input class="form-control" type="text" name="username" id="username-txt" required autofocus>
                                <br>
                                <button id= "button" class="btn btn-primary">l o g &nbsp;i n</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="/static/script.js"></script>

    </body>
    <br>
    <footer>
        <br>
    </footer>

</html>
